body {
    font-family: Helvetica, Arial, sans-serif;

    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    min-height: 100vh;
}

h1 {
    text-align: center;
}

h2 {
    margin-bottom: 5px;
}

a {
    text-decoration: none;
    color: #2e4ae7;
    transition: color 0.2s;
}

a:hover {
    color: #4b62e0;
}

#cont-dls {
    border: 1px solid black;
    display: inline-block;
}

.dl-group {
    margin: 20px;
}

.dl-group a {
    margin: 20px;
}

#main-container {
    display: flex;
    width: 100%;
    margin-bottom: 50px;
}

#symbol-input {
    display: block;
    width: 80%;
    margin: 0 10% 15px;
}

button, input, select {
    padding: 10px 10px;
}

.col {
    flex: 50%;
    text-align: center;
}

.centerDiv {
    width: 100%;
}

#recentSymbols {
    font-size: small;
}

#recentSymbols div {
    width: 100%;
    display: inline-block;
}

.addedTime {
    float: right;
}

footer {
    margin-top: auto;
    width: 100%;
    text-align: center;
}

#search-results {
    text-align: left;
}

span.code {
    font-family: 'Courier New', Courier, monospace;
}

#progress-wrapper {
    display: inline-grid;
    grid-template-rows: 1fr auto;
}

#progress-plot {
    max-height: 50vh;
    max-width: 100%;
}

#progress-bar {
    background-color: #ccc;
    padding: 2px;
    border-radius: 3px;
    position: relative;
}

#progress-bar-text {
    position: absolute;
    top: 0;
    padding: 3px;
    width: 100%;
    text-align: center;
    color: white;
}

#progress-bar-inner {
    display: block;
    height: 22px;
    background-color: #38ae0d;
    border-radius: 3px;
}

@media screen and (max-width: 700px) {
    #main-container {
        flex-direction: column;
    }

    .col {
        flex: 100%;
    }
}